<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
    <title>XSS Demo</title>
    {% endblock %}
    <script src="https://kit.fontawesome.com/2bd72336da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="container vertical">
    <header class="banner">
        <div class="banner-contents container align-center">
            <h1 class="flex-grow">DocuZone</h1>
        </div>
    </header>
    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>
</body>
</html>