{% extends "base.html" %}

{% block content %}
<a class="nostyle" href="/"><h2><i class="fas fa-chevron-left"></i> Back</h2></a>

<h1>{{ document.title | safe }}</h1>
<div class="document-link">{{ document.content | safe }}</div>

{% endblock %}