{% extends "base.html" %}

{% block content %}

<h1>Search</h1>
<form action="search">
    <input type="text" name="query">
    <input type="submit" value="Search">
</form>

<h1>All Documents</h1>

<div class="container horizontal wrap">
  {% for (i, document) in documents %}
  <a class="nostyle" href="document/{{i}}">
    <div class="document-link">
      <h4>{{ document.title }}</h4>
      <span>{{ document.content if document.content|length < 15 else (document.content[:12] + '...') }}</span>
    </div>
  </a>
  {% endfor %}

</div>

<a class="nostyle" href="/create">
  <button><i class="fas fa-file"></i> New Document</button>
</a>
{% endblock %}