{% extends "base.html" %}

{% block content %}

<a class="nostyle" href="/"><h1><i class="fas fa-chevron-left"></i> Back</h1></a>

<form action="search">
    <input type="text" name="query" value="{{query}}">
    <input type="submit" value="Search">
</form>

{% if documents %}
<h1>Search results for: {{query|safe}}</h1>

<div class="container horizontal wrap">
  {% for (i, document) in documents %}
  <a class="nostyle" href="document/{{i}}">
    <div class="document-link">
      <h4>{{ document.title }}</h4>
      <span>{{ document.content if document.content|length < 15 else (document.content[:12] + '...') }}</span>
    </div>
  </a>
  {% endfor %}
</div>

{% else %}
<h1>No search results for: {{query|safe}}</h1>
{% endif %}

{% endblock %}